.font-barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(88, 88, 88);
}

.color-link-nav {
    color: rgb(158, 158, 158);
}

.color-link-nav:hover {
    color: rgb(27, 114, 249);
}