body {
    background-image: url(/_sfondoProgetto.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

nav {
    opacity: 0.8;
}

header div {
    padding: 50px 0;
    opacity: 0.9;
    font-family: 'Lato', sans-serif;
}

.border-custom {
    border: solid 2px white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

a {
    text-decoration: none;
}

i {
    margin: 0 5px;
}